#c-nav {

    width: 100%;
    height: 100%;
    background-color: #1C2325;
}

.sidebar-top {
    padding: 10px;

    .children {
        width: 100%;
        height: 150px;
        background-color: salmon;
        border-radius: 10px;
    }

}

.s-title {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    background-color: gray;
}

.M-navItems {
    width: 100%;
    padding: 5px;
    text-align: left;

    .C-navItems {
        color: rgb(236, 234, 234);
        margin-top: 5px;
        margin-bottom: 5px;

        padding-bottom: 5px;
    }

    .active {
        border-bottom: 2px solid #fff;
        color: #fff;
    }
}